body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: #DDDDDD;
}

header figure {
  margin-left: 0;
  color: #2F333E;
  font-size: 24px;
  letter-spacing: 0.5px;
}

header figure img {
  margin-right: 12px;
}

header nav ul li {
  display: inline-block;
  margin: 0 30px;
}

header nav ul li a {
  color: #545660;
  font-size: 16px;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #26272B;
}

header nav ul li:last-child a {
  color: #E7B825;
  font-weight: bold;
}

header nav ul li:last-child a:hover {
  color: #D8A611;
}


/* Tablet layout */

@media screen and (max-width: 991px) {
  header nav ul li {
    margin: 0 15px;
  }
}


/* Mobile layout */

@media screen and (max-width: 768px) {
  header figure {
    font-size: 18px;
  }
  header i {
    font-size: 40px;
  }
  header img {
    width: 40px;
  }
}